PORT=3001
NODE_ENV=development
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001
NEXT_PUBLIC_IDENTITY_API_URL=http://localhost:3002
NEXT_PUBLIC_PROVIDER_API_URL=http://localhost:3003
NEXT_PUBLIC_ORDER_API_URL=http://localhost:3004
FRONTEND_ORIGIN=http://localhost:3000
JWT_SECRET=replace-with-a-long-random-secret
AWS_REGION=ap-southeast-1
USE_DYNAMODB=false
DYNAMODB_ENDPOINT=http://localhost:8000
AWS_ACCESS_KEY_ID=fakeMyKeyId
AWS_SECRET_ACCESS_KEY=fakeSecretAccessKey
USERS_TABLE=foodconnect-dev-users
PROVIDERS_TABLE=foodconnect-dev-providers
MENUS_TABLE=foodconnect-dev-menus
ORDERS_TABLE=foodconnect-dev-orders
